/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 1, 2023, 4:05:21 PM
    Author     : Snow
*/
.border
{
    -fx-border-radius:8px;
    -fx-border-color:linear-gradient(to bottom right,#125574,#41b3a3);
}
.table-view
{
    -fx-padding: 0px;
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right,#125574,#41b3a3);
    -fx-border-radius:8px;
    -fx-border-width:2px;
}
.table-view .column-header-background
{
    -fx-background-color:linear-gradient(to bottom right,#125574,#41b3a3);
    -fx-background-radius:8px 8px 0 0;
    -fx-background-inset: 0 0 0 0;
}
.table-view .column-header, .filter
{
    -fx-background-color:transparent;
    -fx-size:70px;
}
.table-view .column-header .label
{
    -fx-text-fill:#fff;
    -fx-font-family:arial;
    -fx-font-size:15px;
}